<header id="header">
  <div id="site-title">
    <a href="http://thekroonerzproject.com/" rel="home">
    <img src="/uploads/2013/08/392x164.png" alt="The KroonerZproject" width="392" height="164" />
    </a>
    <a class="home" href="http://thekroonerzproject.com/" rel="home">The KroonerZproject</a>
  </div>
  <div class="fb-like" data-href="https://www.facebook.com/thekroonerzproject" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
  <div id="site-description">Conceived By Mann Taneja &amp; SahilJeet Singh</div>
  <div id="social-media-icons">
    <a target="_blank" class="social-media-icon facebook" href="https://www.facebook.com/thekroonerzproject">Facebook</a>
    <a target="_blank" class="social-media-icon twitter" href="https://twitter.com/kzproject">Twitter</a>
    <a target="_blank" class="social-media-icon youtube" href="http://www.youtube.com/thekroonerzproject?sub_confirmation=1">Vimeo</a>
    <a target="_blank" class="social-media-icon dribble" href="https://soundcloud.com/thekroonerzproject">Dribble</a>
  </div>
  <div class="clear"></div>
  <div class="tagClass"><img src="/uploads/2013/10/get_visually_heard-1.png"/></div>
  <nav id="access">
    <a class="nav-show" href="#access">Show Navigation</a>
    <a class="nav-hide" href="#nogo">Hide Navigation</a>
    <div class="menu-menu-1-container">
      <ul id="menu-menu-1" class="menu">
        <li id="menu-item-67" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-67 {% if page.wordpress_id == 2 %} current-menu-item current-page-item {% endif %}"><a href="/about-us/">About Us</a></li>
        <li id="menu-item-68" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-68 {% if page.wordpress_id == 17 %} current-menu-item current-page-item {% endif %}"><a href="/artists/">Featured Artists</a></li>
        <li id="menu-item-69" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-69 {% if page.wordpress_id == 69 %} current-menu-item current-page-item {% endif %}"><a href="/our-team/">Our Team</a></li>
        <li id="menu-item-480" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-480"><a href="/">Videos</a></li>
        <li id="menu-item-205" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-205 {% if page.wordpress_id == 198 %} current-menu-item current-page-item {% endif %}"><a href="/work-we-like/">Work We Like</a></li>
        <li id="menu-item-118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118 {% if page.wordpress_id == 116 %} current-menu-item current-page-item {% endif %}"><a href="/contact-us/">Contact Us</a></li>
      </ul>
    </div>
    <div class="clear"></div>
  </nav>
  <!-- #access -->
</header>